/* notificaciones.css */

.notification-read {
    background-color: #f0f0f0; /* Color de fondo para notificaciones leídas */
}

.notification-unread {
    background-color: #e2f0ff; /* Color de fondo para notificaciones no leídas */
}

.notification-button {
    width: 100%;
    border: none;
    padding: 10px;
    text-align: left;
    cursor: pointer;
}

.btn-read {
    color: #888; /* Color de texto para notificaciones leídas */
}

.btn-unread {
    color: #333; /* Color de texto para notificaciones no leídas */
}

.notification-disabled {
    opacity: 0.6; /* Opacidad reducida para notificaciones deshabilitadas (sin link) */
}
/*
.notification-unread {
    background-color: #2c3359 !important;
    color: #ffffff !important;
}

.notification-read {
    background-color: #cccccc !important;
    color: #333333 !important;
}

.notification-no-link-read {
    background-color: #cccccc !important;
    color: #333333 !important;
    cursor: default;
}

.notification-no-link-unread {
    background-color: #2c3359 !important;
    color: #ffffff !important;
    cursor: default;
}

.notification-button {
    border: none;
    width: 100%;
    text-align: left;
    padding: 0.5rem;
    cursor: pointer;
}

.notification-button.disabled {
    cursor: default;
}

.notification-link {
    color: inherit !important;
    text-decoration: none !important;
}

.notification-link:hover {
    text-decoration: underline !important;
} */