.trueque-options-container {
    max-width: 1000px; /* Ajustar el ancho máximo según sea necesario */
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/* Estilos para cada opción de trueque */
.trueque-option {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width: 100%; /* Hacer que el recuadro ocupe todo el ancho disponible */
}

.trueque-option:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para la imagen del producto */
.trueque-option img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 20px;
    width: 150px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

/* Estilos para el título del producto */
.trueque-option-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.trueque-option h5 {
    margin: 0;
    font-size: 1.8rem;
    color: #333;
    text-align: left;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Estilos para el mensaje de éxito */
.trueque-option p {
    margin: 0;
    font-size: 16px;
    color: green;
    margin-bottom: 10px;
    font-size: 1.5rem;
    margin-left: auto;
}

/* Estilos para el botón de selección */
.trueque-option button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: auto;
    font-size: 1.2rem;
}

.trueque-option button:hover {
    background-color: #0056b3;
}

/* Estilos para el botón de selección cuando está deshabilitado */
.trueque-option button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
}